<div class="app-container">
  <div id="surveyFormComponent">
    <link rel="stylesheet" href="survey-form/survey-form.component.scss">
    <script src="survey-form/survey-form.component.js"></script>
    <div>
      <object type="text/html" data="survey-form/survey-form.component.html"></object>
    </div>
  </div>
  <div id="surveyTableComponent">
    <link rel="stylesheet" href="survey-table/survey-table.component.scss">
    <script src="survey-table/survey-table.component.js"></script>
    <div>
      <object type="text/html" data="survey-table/survey-table.component.html"></object>
    </div>
  </div>
</div>